<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="it.eja.keyboard">
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <application android:label="ejaKeyboard" android:icon="@drawable/logo" android:banner="@drawable/banner">

        <service android:name=".Keyboard" android:permission="android.permission.BIND_INPUT_METHOD" android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>

        <activity android:name=".MainActivity" android:exported="true" android:label="Keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
